[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
